
@font-face {
    font-family: "myFont";
    src: url("./PingFangHeiTC-W4-Proportional.woff") format("woff"),
        url("./PingFangHeiTC-W4-Proportional.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

.hello {
    color:red;
    font-family: "myFont";
}

body {
    background-image: url("./photo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}